<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://WKSLT-132533</MSDeployServiceURL>
    <DeployIisAppPath>SampleInspection</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>HONI\JardimL</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SampleInspectionEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=WKSLT-132533\SHAREPOINT;Initial Catalog=SampleInspection;Integrated Security=True;Persist Security Info=False;Application Name=SampleInspection" Name="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SampleInspection;Data Source=WKSLT-132533\SHAREPOINT;Application Name=SampleInspection" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hht.SampleInspection.Models.SampleInspectionEntities, Hht.SampleInspection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SampleInspectionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SampleInspection.csdl|res://*/Models.SampleInspection.ssdl|res://*/Models.SampleInspection.msl;provider=System.Data.SqlClient;provider connection string="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SampleInspection;Data Source=WKSLT-132533\SHAREPOINT;Application Name=SampleInspection"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>