@{
    ViewBag.Title = "List of contacts";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>HHT Lake City Support:</strong><br />
    Jay Lukowicz<br />
    800 W Jefferson St.<br />
    Lake City, MN 55041<br />
    <abbr title="Phone">(p)</abbr>(651)345-1818<br />
    <a href="mailto:LukowiczJ@hearthnhome.com">LukowiczJ@hearthnhome.com</a><br />
</address>

<address>
    <strong>HHT Taiwan Support:</strong><br />
    HNI Asia LLC Taiwan Branch<br />
    Nicolas Chen<br />
    <abbr title="CellPhone">(c)</abbr>+866 922 519 917<br />
    <abbr title="Phone">(p)</abbr>+866 2 8751 0288<br />
    <a href="mailto:ChenN@HNI-Asia.com">ChenN@HNI-Asia.com</a><br />
</address>