@{
    ViewBag.Title = "List of contacts";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    800 W Jefferson St.<br />
    Lake City, MN 55041<br />
    <abbr title="Phone">P:</abbr>
    (651)345-1818
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:LukowiczJ@hearthnhome.com">LukowiczJ@hearthnhome.com</a><br />
</address>