@{
    ViewBag.Title = "Standard Work";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><a href="~/Content/StandardWork/ValveSampleInspectionStandardWork_Chinese.pdf">Valve inspections standard work (Chinese)</a></p>
<p><a href="~/Content/StandardWork/ValveSampleInspectionStandardWork_English.xlsx">Valve inspections standard work (English)</a></p>
<p><a href="~/Content/StandardWork/ValveEnvironmentalTestBoxStandardWork.xls">Valve Environmental Test Box standard work</a></p>
<p></p>
<p></p>
<h3>Click on the links below to open documentation.</h3>
<p><a href="~/Content/StandardWork/SampleInspectionApplicationUserDocumentation.docx">User documentation</a></p>
<p><a href="~/Content/StandardWork/SampleInspectionApplicationSystemDocumentation.docx">System documentation</a></p>