@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error handling";
}

<h2 class="text-danger">@Model.Exception.Message</h2>

<h3 class="text-danger">An error occurred while processing your request.</h3>

@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
